rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Cho phép tất cả người dùng đọc và ghi dữ liệu
    match /{document=**} {
      allow read, write: if true;
    }
  }
}